
{% comment %} {% block title %}Reset your password{% endblock %} {% endcomment %}
{% block content %}
<center>
    {% include "forgetheader.html" %}
    
<div class="card text-white bg-success mb-3" style="max-width: 100%; margin: 20px;">
    <div class="card-header">Forget Password </div>
    <div class="card-body"  style="background-color: #F8F9FA; color: #464444;">

        <div style="margin-top: 10%; margin-bottom: 5%;">
   
<h1>Reset your password</h1>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered the
address you registered with.</p>
{% endblock %}
</div>
</div>
</div>
</center>