{% load static %}


<center>

    {% include "forgetheader.html" %}
    
    
{% block content %}

<div class="card text-white bg-success mb-3" style="max-width: 100%; margin: 20px;">
    <div class="card-header">Forget Password </div>
    <div class="card-body"  style="background-color: #F8F9FA; color: #464444;">

<div style="margin-top: 10%; margin-bottom: 5%;">
<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="post">
  
{{ form.as_p }}
<p><input type="submit" value="Send e-mail" class="btn btn-primary" ></p>
                        
{% csrf_token %}
</form>
{% endblock %}
</div>
</div>
</div>
</center>