
{% load static %}

{% include "header.html" %}
{% comment %} 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endcomment %}




<div class="row">
    <div class="col-sm-3">

      <div class="btn-group-vertical" style="margin-left: 100px;">
        <a href="/myaccount/"><button type="button" class="btn btn-primary" style="margin-top: 20px; margin-left: 100; width: 250px;"> Dashboard  </button></a>
        <a href="/postdashboard2/"><button type="button" class="btn btn-primary" style="margin-top: 10px; margin-left: 100; width: 250px;">Company Profile</button></a>
         <a href="/postjob/"> <button type="button" class="btn btn-primary"  style="margin-top: 10px; margin-left: 100; width: 250px;">Post New Job</button></a>
         <a href="/postdashboard4/"> <button type="button" class="btn btn-primary" style="margin-top: 10px; margin-left: 100; width: 250px;">Manage My Jobs</button></a>
         <a href="/postdashboard5/"> <button type="button" class="btn btn-primary"  style="margin-top: 10px; margin-left: 100; width: 250px;">View Candidates</button></a>
         <a href="/postdashboard6/"> <button type="button" class="btn btn-primary"  style="margin-top: 10px; margin-left: 100; width: 250px;">Password Change</button></a>
         <a href="/logout/"> <button type="button" class="btn btn-primary"  style="margin-top: 10px; margin-left: 100; width: 250px;">Log Out</button></a>
        </div>








    </div>
    <div class="col-sm-9">






        <div class="card text-white bg-success mb-3" style="max-width: 100%; margin: 20px;">
            <div class="card-header">All Posted Jobs </div>
            <div class="card-body" style="background-color: #F8F9FA; color: #464444;">











              {% for i in userpo %}
                      <a href="/job-detail/{{i.id}}/" style="color:black;">
                      
                      <div class="job-item p-4 mb-4">
                          <div class="row g-4">
                              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                  {% comment %} {% if i.companylogo %} {% endcomment %}
                                  <img class="flex-shrink-0 img-fluid border rounded" src="{{i.userid.clinteuser.image.url}}" alt="" style="width: 80px; height: 80px;">
                                  {% comment %} {% endif %} {% endcomment %}
                                  <div class="text-start ps-4">
                                      <h5 class="mb-3">{{i.jobtitle}}</h5>
                                      <br>
                                      <p class="ptag">{{i.jobdiscription | truncatechars:50}}....
                                      <a href="/job-detail/{{i.id}}/"  style="text-align: center; margin: auto;">Read More</a></p> <br>
                                      <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{i.location}}</span>
                                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{i.jobmode}}</span>
                                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>Rs {{i.minsalary}} - Rs{{i.maxsalary}} </span> <br>
                                      <span class="text-truncate me-0"><i class="bi bi-person text-primary me-2"></i>{{i.userid.first_name}}</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                  <div class="d-flex mb-3">
                                      <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                      <a class="btn btn-primary" href="/updatejob/{{i.id}}/" >Update</a>
                                      {% comment %} <form action="/postdashboard4/{{data.id}}/" method="post">
                                        {% csrf_token %}
                                      <a class="btn btn-primary" href="" style="margin-left:5px;" type="submit">Delet</a> {% endcomment %}
                                      <a href="/delete_post/{{i.id}}/"><button class="btn btn-primary" style="margin-left:5px;" type="button">Delete</button></a>
                  
                                    </form>
                                  </div>
                                  <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>{{i.created|date}}</small>
                              </div>
                          </div>
                          
                      </div>
                      
                      {% endfor %}
                    </a>























                {% comment %} <div class="container" style="float: left; width: 100%;"> {% endcomment %}
                    {% comment %} <div class="row" >
                      <div class="col-2">
                        Your Name
                      </div>
                      <div class="col-8">
                        <div class="form-group">
                            <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                        </div>
                      </div>
                    </div> {% endcomment %}


                      {% comment %} <div class="row" >
                     
                      <div class="col-2">
                        Your Name
                      </div>
                      <div class="col-8">
                        <div class="form-group">
                            <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                        </div>
                      </div>
                    </div> {% endcomment %}


                    


                    {% comment %} <div class="row" >
                     
                        <div class="col-2">
                          Your Name
                        </div>
                        <div class="col-8">
                          <div class="form-group">
                              <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                          </div>
                        </div>
                      </div> {% endcomment %}
  
  
  
                      


                      {% comment %} <div class="row" >
                     
                        <div class="col-2">
                          Your Name
                        </div>
                        <div class="col-8">
                          <div class="form-group">
                              <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                          </div>
                        </div>
                      </div> {% endcomment %}
  
  
  
                      


                      {% comment %} <div class="row" >
                     
                        <div class="col-2">
                          Your Name
                        </div>
                        <div class="col-8">
                          <div class="form-group">
                              <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                          </div>
                        </div>
                      </div>
   {% endcomment %}
  
  
                      


                      {% comment %} <div class="row" >
                     
                        <div class="col-2">
                          Your Name
                        </div>
                        <div class="col-8">
                          <div class="form-group">
                              <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                          </div>
                        </div>
                      </div>
  
   {% endcomment %}
  
                      
{% comment %} 

                      <div class="row" >
                     
                        <div class="col-2">
                          Your Name
                        </div>
                        <div class="col-8">
                          <div class="form-group">
                              <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                          </div>
                        </div>
                      </div>
   {% endcomment %}
  
  
                      

{% comment %} 
                      <div class="row" >
                     
                        <div class="col-2">
                          Your Name
                        </div>
                        <div class="col-8">
                          <div class="form-group">
                              <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                          </div>
                        </div>
                      </div>
  
  
  
                      


                      <div class="row" >
                     
                        <div class="col-2">
                          Your Name
                        </div>
                        <div class="col-8">
                          <div class="form-group">
                              <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                          </div>
                        </div>
                      </div> {% endcomment %}
  
  
  
                      

{% comment %} 
                      <div class="row" >
                     
                        <div class="col-2">
                          Your Name
                        </div>
                        <div class="col-8">
                          <div class="form-group">
                              <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                          </div>
                        </div>
                      </div>
  
  
  
                                      
                      
                    <div class="row" >
                      <div class="col-2">
                        Your Name
                      </div>
                      <div class="col-8">
                        <div class="form-group">
                            <input type="text" name="lname" required placeholder="Last Name" id="form3Example1cg" class="form-control" />
                        </div>
                      </div> {% endcomment %}
                     
                    {% comment %} </div> {% endcomment %}








                    
                  </div>
            </div>
          </div>







    </div>
  </div>
  
  {% include "footer.html" %}

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js'%}"></script>
<script src="{% static 'lib/easing/easing.min.js'%}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js'%}"></script>
</body>

</html>